<h2 mat-dialog-title>Add New Task</h2>
<mat-dialog-content>
    <mat-form-field class="example-full-width">
        <mat-label class="example-full-width">New Task</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Description</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
<mat-dialog-actions>
    <div class="container flex justify-center items-center">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-button mat-dialog-close cdkFocusInitial>Add</button>
    </div>
</mat-dialog-actions>
