<div class="container flex justify-start text-center pl-40 pt-8 h-1 text-xl">
    <h2>Welcome back to ProjectName {{ username }}</h2>
  </div>
  
  <div class="container flex flex-col justify-center items-center p-24">
    <div cdkDropListGroup>
      <div class="example-container">
        <h2 class="text-2xl text-amber-700 mb-2">To do</h2>
  
        <div cdkDropList id="todoList" [cdkDropListData]="todo" class="example-list" (cdkDropListDropped)="drop($event)">
          @for (item of todo; track item) {
          <div class="example-box" cdkDrag>{{item.name}}</div>
          }
        </div>
        <div>
          <mat-form-field class="example-full-width">
            <mat-label class="example-full-width">New Task</mat-label>
            <input matInput>
          </mat-form-field>
          <div class="container flex justify-center items-center">
          <button mat-icon-button matTooltip="Primary" color="primary">
          <mat-icon>add</mat-icon>
          </button>
          </div>
        </div>
      </div>
  
      <div class="example-container">
        <h2 class="text-2xl text-sky-700 mb-2">In Progress</h2>
  
        <div id="progressList" cdkDropList [cdkDropListData]="progress" class="example-list" (cdkDropListDropped)="drop($event)">
          @for (item of progress; track item) {
          <div class="example-box" cdkDrag>{{item.name}}</div>
          }
        </div>
        <div>
          <mat-form-field class="example-full-width">
            <mat-label class="example-full-width">New Task</mat-label>
            <input matInput>
          </mat-form-field>
          <div class="container flex justify-center items-center">
          <button mat-icon-button matTooltip="Primary" color="primary">
          <mat-icon>add</mat-icon>
          </button>
          </div>
        </div>
      </div>
  
      <div class="example-container">
        <h2 class="text-2xl text-green-700 mb-2">Done</h2>
  
        <div id="doneList" cdkDropList [cdkDropListData]="done" class="example-list" (cdkDropListDropped)="drop($event)">
          @for (item of done; track item) {
          <div class="example-box" cdkDrag>{{item.name}}</div>
          }
        </div>
        <div>
          <mat-form-field class="example-full-width">
            <mat-label class="example-full-width">New Task</mat-label>
            <input matInput>
          </mat-form-field>
          <div class="container flex justify-center items-center">
          <button mat-icon-button matTooltip="Primary" color="primary">
          <mat-icon>add</mat-icon>
          </button>
          </div>
        </div>
      </div>
    </div>
  </div>