<form [formGroup]="registerForm" (submit)="register()" class="space-y-5">
  <div class="flex flex-col">
      <label for="username" class="text-gray-500 mb-1">Username</label>
      <input type="text" id="username" placeholder="Please insert your username"
          class="input-field" formControlName="username">
  </div>
  <div class="flex flex-col">
      <label for="email" class="text-gray-500 mb-1">Email</label>
      <input type="text" id="email" placeholder="Please insert your email"
          class="input-field" formControlName="email">
  </div>
  <div class="flex flex-col">
      <label for="password" class="text-gray-500 mb-1">Password</label>
      <input type="password" id="password" placeholder="Please insert your password"
          class="input-field" formControlName="password">
  </div>
  <div class="flex flex-col">
      <label for="role" class="text-gray-500 mb-1">Role</label>
      <select id="role" class="input-field" formControlName="role">
          <option value="user">User</option>
          <option value="admin">Admin</option>
          <option value="po">Project Owner</option>
      </select>
  </div>
  <div class="flex justify-between">
      <button type="submit"
          class="w-full py-3 bg-green-600 text-white rounded-lg hover:bg-green-700">
          Create Account
      </button>
      <a href="/login"
          class="w-full py-3 bg-blue-600 text-white rounded-lg text-center hover:bg-blue-700">Login</a>
  </div>
</form>
