<section class="bg-gray-50 dark:bg-gray-900">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
    <a href="#" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
      <img class="w-8 h-8 mr-2" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/logo.svg" alt="logo">
      Kanban Management
    </a>
    <div class="w-full max-w-md bg-white rounded-lg shadow-lg dark:border dark:border-gray-700 hover:shadow-xl transition duration-300">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
          Create your account
        </h1>
        <div class="absolute top-0 right-0 mt-8 mr-8 p-4 text-lg text-white bg-red-500 rounded-lg shadow-lg animate__animated animate__fadeIn" [hidden]="!showErrorAlert">
          <span class="font-bold">Error!</span> User or email already exists.
        </div>
        <div class="absolute top-0 right-0 mt-8 mr-8 p-4 text-lg text-white bg-green-500 rounded-lg shadow-lg animate__animated animate__fadeIn" [hidden]="!showSuccessAlert">
          <span class="font-bold">Success!</span> Registration successful.
        </div>
        <form [formGroup]="registerForm" (ngSubmit)="register()" class="space-y-4 md:space-y-6">
          <div class="flex flex-col">
            <label for="username" class="text-gray-500 mb-1">Username</label>
            <input type="text" id="username" placeholder="Please insert your username" class="input-field" formControlName="username">
            <div *ngIf="registerForm.get('username')!.invalid && registerForm.get('username')!.touched" class="text-red-500 text-sm mt-1">
              Username is required.
            </div>
          </div>
          <div class="flex flex-col">
            <label for="email" class="text-gray-500 mb-1">Email</label>
            <input type="email" id="email" placeholder="Please insert your email" class="input-field" formControlName="email">
            <div *ngIf="registerForm.get('email')!.invalid && registerForm.get('email')!.touched" class="text-red-500 text-sm mt-1">
              Valid email is required.
            </div>
          </div>  
          <div class="flex flex-col">
            <label for="password" class="text-gray-500 mb-1">Password</label>
            <input type="password" id="password" placeholder="Please insert your password" class="input-field" formControlName="password">
            <div *ngIf="registerForm.get('password')!.invalid && registerForm.get('password')!.touched" class="text-red-500 text-sm mt-1">
              Password is required.
            </div>
          </div>
          <div class="flex flex-col">
            <label for="role" class="text-gray-500 mb-1">Role</label>
            <select id="role" class="input-field" formControlName="role">
              <option value="user">User</option>
              <option value="admin">Admin</option>
              <option value="po">Project Owner</option>
            </select>
            <div *ngIf="registerForm.get('role')!.invalid && registerForm.get('role')!.touched" class="text-red-500 text-sm mt-1">
              Role is required.
            </div>
          </div>
          <button type="submit" class="btn-primary">Sign up</button>
          <p class="text-sm font-light text-gray-500 dark:text-sky-700">
            Already have an account? <a href="/login" class="font-medium text-primary-600 hover:underline dark:text-primary-500">Sign in</a>
          </p>
        </form>
      </div>
    </div>
  </div>
</section>
