<nav class="bg-gray-900 shadow-lg" *ngIf="isLoggedIn">
    <div class="container mx-auto px-7 py-3 md:flex md:justify-between md:items-center">
      <div class="flex justify-between items-center">
        <a class="text-xl font-bold text-white" href="/">
          Kanban Management
        </a>
        <div class="flex md:hidden">
          <button type="button" class="text-gray-500 hover:text-white focus:outline-none focus:text-white">
            <svg viewBox="0 0 24 24" class="h-6 w-6 fill-current">
              <path fill-rule="evenodd" d="M4 6h16a1 1 0 010 2H4a1 1 0 010-2zM4 11h16a1 1 0 010 2H4a1 1 0 010-2zM4 16h16a1 1 0 010 2H4a1 1 0 010-2z" clip-rule="evenodd"></path>
            </svg>
          </button>
        </div>
      </div>
      <div class="md:flex items-center">
        <div class="flex flex-col md:flex-row md:mx-6">
          <a href="/dashboard" class="my-1 text-sm text-white hover:text-gray-300 md:mx-4 md:my-0">Home</a>
          <a href="/board" class="my-1 text-sm text-gray-300 hover:text-white md:mx-4 md:my-0">Board</a>
          <a href="/new-task" class="my-1 text-sm text-gray-300 hover:text-white md:mx-4 md:my-0">New Task</a>
          <a href="/new-project" class="my-1 text-sm text-gray-300 hover:text-white md:mx-4 md:my-0">New Project</a>
          <a href="/new-user" class="my-1 text-sm text-gray-300 hover:text-white md:mx-4 md:my-0">New User</a>
        </div>
        <div class="flex flex-col md:flex-row md:mx-6">
          <a (click)="logout()" class="my-1 text-sm text-gray-300 hover:text-white md:mx-4 md:my-0">
            <svg class="w-6 h-6 mr-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"></path>
            </svg>
            Logout
          </a>
        </div>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
  