<div class="form-container">
    <form class="form-signin login-form" [formGroup]="loginForm" (ngSubmit)="login()">
        <h3 class="txt-color-mg">Sign in</h3>
        <div class="flex flex-col w-full my-5">
            <label for="inputEmail" class="text-gray-500 mb-2">Email address</label>
            <input type="email" id="inputEmail" class="appearance-none border-2 border-gray-100 rounded-lg px-4 py-3 placeholder-gray-300 focus:outline-none focus:ring-2 focus:ring-green-600 focus:shadow-lg" placeholder="Email address" formControlName="username" required autofocus>
        </div>
        <div class="flex flex-col w-full my-5">
            <label for="inputPassword" class="text-gray-500 mb-2">Password</label>
            <input type="password" id="inputPassword" class="appearance-none border-2 border-gray-100 rounded-lg px-4 py-3 placeholder-gray-300 focus:outline-none focus:ring-2 focus:ring-green-600 focus:shadow-lg" placeholder="Password" formControlName="password" required>
        </div>
        <div class="flex flex-col w-full my-5">
            <button type="submit" class="w-full py-4 bg-green-600 rounded-lg text-green-100 flex items-center justify-center">
                <svg class="w-6 h-6 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 16l-4-4m0 0l4-4m-4 4h14m-5 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h7a3 3 0 013 3v1"></path>
                </svg>
                <div class="font-bold">Sign in</div>
            </button>
        </div>
        <div class="flex justify-between items-center">
            <div class="mt-2 anchor" (click)="openRegistrationPage()">New User?</div>
        </div>
    </form>
</div>
