<body class="antialiased bg-gradient-to-br from-green-100 to-white">
  <div class="container px-6 mx-auto">
    <div class="flex flex-col items-center justify-center md:flex-row h-screen">
      <div class="w-full md:w-1/2">
        <div class="text-center md:text-left">
          <svg class="w-20 h-20 mx-auto md:float-left fill-stroke text-gray-800" fill="none" stroke="currentColor"
            viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4">
            </path>
          </svg>
          <h1 class="text-5xl text-gray-800 font-bold">Client Area</h1>
          <p class="w-5/6 mx-auto mt-4 text-gray-500">
            Control and monitorize your website data from the dashboard.
          </p>
        </div>
      </div>
      <div class="w-full md:w-1/2">
        <div class="bg-white p-10 rounded-xl shadow-xl">
          <h2 class="text-2xl font-bold text-gray-800 mb-5">Register</h2>
          <form action="" class="space-y-5">
            <div class="flex flex-col">
              <label for="username" class="text-gray-500 mb-1">Username</label>
              <input type="text" id="username" placeholder="Please insert your username"
                class="input-field" />
            </div>
            <div class="flex flex-col">
              <label for="email" class="text-gray-500 mb-1">Email</label>
              <input type="text" id="email" placeholder="Please insert your email" class="input-field" />
            </div>
            <div class="flex flex-col">
              <label for="password" class="text-gray-500 mb-1">Password</label>
              <input type="password" id="password" placeholder="Please insert your password"
                class="input-field" />
            </div>
            <div class="flex justify-between">
              <button type="button" class="btn-primary">Create Account</button>
              <a routerLink="/login" class="btn-primary">Login</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
