<form [formGroup]="donetaskForm" (submit)="newTask()">
    <h2 mat-dialog-title>Add New Task</h2>
    <mat-dialog-content>
        <mat-form-field class="example-full-width">
            <mat-label class="example-full-width">New Task</mat-label>
            <input matInput formControlName="name" id="name">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label class="example-full-width">Description</mat-label>
            <textarea matInput formControlName="description" id="description"></textarea>          
        </mat-form-field>
        <input formControlName="status" id="status" value="done" type="hidden">
          
    <mat-dialog-actions>
        <div class="container flex justify-center items-center">
            <button mat-button mat-dialog-close color="warn" class="bg-gray-300 hover:bg-gray-400 text-gray-700 font-bold py-2 px-4 rounded mr-2">Cancel</button>
            <button mat-button mat-dialog-close cdkFocusInitial color="basic" type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Add</button>
        </div>
    </mat-dialog-actions>
    </mat-dialog-content>
    </form>
    
    